.about {
    width:100%;
    height:700px;
    background-color: #F8F8F8;
   }
  .container {
    width:auto;
    display: block;
    margin: auto;
    padding-top: 0px;
  }
  .content-section {
    float:left;
    width: 55%;
  }
  .content-section h1{
    color: black;
    text-transform: uppercase;
    font-size: 28px;
    margin-left: 350px;
  }
  .content-section .content p{
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    line-break: loose;
    margin-left: 15px;
  }
  .image-section{
    float: right;
    width: 45%;
    margin-top: 60px;
    
  }
  .image-section img {
    width: 100%;
    height: 100%;
  }
  .content-section button{
    background-color:  rgb(12, 113, 113);
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 450px;
  }
  .content-section button a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
  }
  .content-section button:hover{
  background-color: whitesmoke;
  }
  .content-section button:hover a{
    color: black;
    }
  /* .content-section .socials{
    margin: 40px 40px;
  }
  .content-section .socials i{
    color: #432aa5;
    font-size: 30px;
    padding: 0px 10px;
    
  }
  .content-section .socials i:hover{
    color: rgb(85, 51, 238);
  }
   */